@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@200;400;600&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: $white;
  font-family: 'Montserrat', sans-serif;
  overflow-x: hidden; 
  font-size: 14px;
  font-weight: 400;
  background-color: #f7f7f7;
  color: #4A4A47;
}

button { cursor: pointer; }
button:disabled { cursor: default; }
a {
  text-decoration: none;
}

header {
  position: fixed;
  width: 100%;
  top: 0;
  left: 0;
  z-index: 99;
  background-color: #0E3854; 
  height: 60px;
  font-family: 'Montserrat', sans-serif;
}

main {
  max-width: 480px;
  position: relative;
  width: 100%;
  box-sizing: border-box;
  height: 100vh;
  // min-height: calc(100vh - 60px);
  margin: 0px auto;
 // background-color: #ffffff;
}

.container {
  max-width: 480px;
  margin: 0 auto;
}

