@font-face {
  font-family: 'Roboto Mono';
  src: url('../fonts/RobotoMono-Regular.ttf');
}

@font-face {
  font-family: 'Roboto Mono Bold';
  src: url('../fonts/RobotoMono-Bold.ttf'),
}

@font-face {
  font-family: 'Roboto Mono Bold Italic';
  src: url('../fonts/RobotoMono-BoldItalic.ttf');
}

@font-face {
  font-family: 'Roboto Mono Italic';
  src: url('../fonts/RobotoMono-Italic.ttf');
}

@font-face {
  font-family: 'Roboto Mono Light';
  src: url('../fonts/RobotoMono-Light.ttf');
}

@font-face {
  font-family: 'Roboto Mono Light Italic';
  src: url('../fonts/RobotoMono-LightItalic.ttf'),
}

@font-face {
  font-family: 'Roboto Mono Medium';
  src: url('../fonts/RobotoMono-Medium.ttf'),
}

@font-face {
  font-family: 'Roboto Mono Medium Italic';
  src: url('../fonts/RobotoMono-MediumItalic.ttf');
}

@font-face {
  font-family: 'Roboto Mono Thin';
  src: url('../fonts/RobotoMono-Thin.ttf');
}

@font-face {
  font-family: 'Roboto Mono Thin Italic';
  src: url('../fonts/RobotoMono-ThinItalic.ttf');
}
